<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>7 Wonders</title>
    <link rel="stylesheet" href="./../../public/css/header_style.css">
    <link rel="stylesheet" href="./../../public/css/footer_style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Protest+Guerrilla&display=swap" rel="stylesheet">

  </head>
<body>
    
<header>
<nav>
    <a class="logo">7 Wonders</a>
    <div class="navbar">
        <ul class="navbar-list">
          <li class="nav-item">
            <a class="nav-link n1" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link n2" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link n3" href="/search">Search🔍</a>
          </li>
  
        </ul>
      </div>
</nav>

</header>