<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>7 Wonders</title>
    <link rel="stylesheet" href="css/style.css">
    <style>
        body{
            color:rgb(65, 38, 5);
            background-color: rgb(161, 138, 184);
            font-size:xxx-large;
        }
        h1{
            color:rgb(7, 91, 11);
        }
        p{
            color:rgb(116, 42, 42);
            font-size:xxx-large;
            background-color: aquamarine;
            border-radius:5px;
            border:solid 1px black;
            padding:5px;
        }
    </style>
</head>
<body>
    <%- include("partials/header.ejs") %>
    <h1>About</h1>
    <p>Music app-Song track Credits-Jamendo</p>
    <p>User Authentication-with Google and DAuth</p>
</body>
</html>