<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>7 Wonders</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
    <h1>Welcome</h1>
    <div class="audio-player">
        <div class="control-box">
            <button id="backward" class="control-button"><img class="control-button" src='../public/resources/images/Icons/controls/backward.png'></button>
            <button id="play" class="control-button"><img class="control-button" src='../public/resources/images/Icons/controls/play.png'></button>
            <button id="forward" class="control-button"><img class="control-button" src='../public/resources/images/Icons/controls/speed.png'></button>
        </div>
        <div class="progress-box">
            <p class="current-duration time">0:00</p>
            <div class="progress-bar">
                <input type="range" id='slide' value='0'>
            </div>
            <p class="total-duration time">2.55</p>
        </div>
    </div>
</body>
</html>