<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>7 Wonders</title>
    <link rel="stylesheet" href="css/launch_style.css"> 
</head>
<body>
    <div class="Outer">
        <img id="launchBackdrop" src="resources/images/launch_backdrop.jpeg">
        <div class="Inner">
            <img id="icon" src="resources/images/icon_main.jpeg">
            <h1>7 Wonders</h1>
            <hr>
            <a class="registerButton" href="/register" role="button">Register</a>
            <a class="loginButton" href="/login" role="button">Login</a>
        </div>
    </div>
</body>
</html>