*{
    margin: 0;
    padding:0;
}
body{
    background-image: url('./../resources/images/background.jpg');
    background-size: cover;
}
#launchBackdrop{
    max-width:80%;
    max-height:100vh;
    display:block;
    margin:auto;
}
.Outer {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./../resources/images/background.jpg');
    background-size: cover;
}
.Inner1{
    position:absolute;
    /* margin:auto auto; */
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
form *{
    margin:6px auto;
}
input{
    width:25vh;
}
button{
    padding: 10px 20px; 
    margin: 8px; 
    text-decoration: none; 
    background-color: #c49c0d; 
    color:rgb(66, 3, 3);
    border: 1px solid #af390a; 
    border-radius: 5px; 
    text-align: center;
    cursor: pointer; 
    transition: background-color 0.5s ease;
    font-size: large;
}
button:hover{
    background-color: #ca3e10;
    border-color: #4b3904;
    color:bisque;
}
form{
    width:40vh;
    display:flex;
    flex-direction:column;
    color:bisque;
}
label{
    font-size: large;
}
#icon{
    height:30vh;
    width:30vh;
    border-radius:20px;
}
h1{
    color:rgb(21, 17, 23);
    font-size: xxx-large;
    letter-spacing: 2px;
    margin:20px 0px;
}
a{
    display: inline-flex; 
    align-items:center;
    padding: 10px 20px; 
    margin: 10px; 
    text-decoration: none; 
    background-color: #9cc5e0; 
    color:rgb(66, 3, 3);
    border: 1px solid #9cc5e0; 
    border-radius: 5px; 
    text-align: center;
    cursor: pointer; 
    transition: background-color 0.5s ease;
    font-size: large;
}
a:hover{
    background-color: #16b4c6;
    border-color: #292109;
    color:bisque;
}
#signIn-dauth{
    background-color: #fdfdfd; 
    color:rgb(16, 214, 9);
}
#signIn-dauth:hover{
    background-color: rgb(16, 214, 9);
    color:rgb(249, 249, 249); 
}
#googleIcon{
    max-width:5vh;
    max-height:5vh;
    vertical-align: middle;
    margin-right: 2px;
}
#dauthIcon{
    max-width:5vh;
    max-height:5vh;
    vertical-align: middle;
    margin-right: 2px;
}
.Inner2{
    /* margin:0 auto; */
    width:40vh;
    max-height:20vh;
    display:flex;
    flex-direction:column;
}
span{
    margin-left:5px;
}
